/* body{
    background-color: whitesmoke;
}
h1{
    text-align: center; 
    
} */ 
/* Reset some default browser styling*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Background with blue gradient */
.background {
    background: linear-gradient(to bottom right, #87CEEB, #4682B4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10%; /* 10% from the top */
}

/* Container for the login box */
.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    width: 300px; /* Fixed width for the box */
    text-align: center; /* Center text inside the box */
}

/* Additional styling for the form elements */
.login-box h1 {
    margin-bottom: 20px;
}

.cadlink {
    margin-top: 15px;
}

.cadlink a {
    color: blue;
    text-decoration: underline;
}



/* .quadrado {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 20%;
    padding: 30px;
    
  } */
